home.lavallee.one {
    reverse_proxy http://homeassistant.lan
    tls {
        dns cloudflare {$CF_KEY}
    }
}

immich.lavallee.one {
    reverse_proxy http://immich.lan
    tls {
        dns cloudflare {$CF_KEY}
    }
}
 
sshca-api.lavallee.one {
    reverse_proxy http://sshca.lan:4000
    tls {
        dns cloudflare {$CF_KEY}
    }
}

jellyfin.lavallee.one {
    reverse_proxy http://jellyfin.lan
    tls {
        dns cloudflare {$CF_KEY}
    }
}

continuousintegration.lavallee.one {
    reverse_proxy http://meepzee.lan:8080
    tls {
        dns cloudflare {$CF_KEY}
    }
}

*.ci-proxy.lavallee.one {
    reverse_proxy http://meepzee.lan:8081
    tls {
        dns cloudflare {$CF_KEY}
    }
}

lemmios-dev.lavallee.one {
    reverse_proxy http://mac.dev:8080
    tls {
        dns cloudflare {$CF_KEY}
    }
}

lemmy.lavallee.one {
    reverse_proxy http://meepzee.lan
    tls {
        dns cloudflare {$CF_KEY}
    }
}